# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ap_
*.d
*.dex
*.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

#Code::Blocks
*.cbp
*.depend
*.layout

#test folder
test/*

#.obj
!*.obj
*.ap_
*.dex
chaos_engine/examples/basic/bin/App1.ap_
*.apk
chaos_engine/examples/basic/bin/proguard.txt
*.prop
