# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ap_
*.ap_.d
*.o.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

#Code::Blocks
*.cbp
*.depend
*.layout

#test folder
test/*

#.obj
!*.obj
